*.[oa]
junk*
*~
build/
cscope.files
TAGS
*.exe
bugxml/__pycache__
doc/libhtmldoc.tar
config.h.in
grepcmake
grepconfigure
grepmeson


# autotools ignore
*.lo
*.la
.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h
config.log
config.sub
configure
config.status
depcomp
install-sh
libdwarf.pc
libdwarfp.pc
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test-driver
test-suite.log
autom4te.cache/
.deps/
.libs/
test/*.log
test/*.trs
test/dwarfdump.conf
