name: macautotool

on: 
  workflow_dispatch:

permissions: read-all

jobs:
 macos_autotools:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: tools
      run:  |
        brew install autoconf automake libtool pkgconf
#        brew install --overwrite pkgconf
    - name: autoreconf
      run: autoreconf --warnings=all  -vif
    - name: config
      run: ./configure --enable-dwarfexample --enable-wall
    - name: make
      run:  |
        make
        make check

