name: ci_mac_meson

on:
  workflow_dispatch:

permissions: read-all

jobs:
  macos_meson:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: tools
      run:  |
        brew install meson ninja
    - name: 
      run:  |
        mkdir builddir && cd builddir
        meson setup -Ddwarfexample=true . ..
        ninja
        ninja test

