name: ci_mac_meson

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  macos_meson:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: tools
      run:  |
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        # brew install meson fails, 20 Nov 2022
        # Homebrew folks say this is due to github
        # installing non-Homebrew in the Homebrew
        # install directory.
        # They also suggest trying
        # find /usr/local/bin -lname '*/Library/Frameworks/Python.framework/*' -delete
        # overwrite will need to be manually updated as needed.
        brew install --overwrite python@3.11
        brew install meson ninja
    - name: 
      run:  |
        mkdir builddir && cd builddir
        meson . .. -Ddwarfexample=true
        ninja
        ninja test

